
@mixin ag-theme-base-part-columns-tool-panel {
    
    .ag-pivot-mode-panel {
        min-height: var(--ag-header-height);
        height: var(--ag-header-height);
        display: flex;
    }

    .ag-pivot-mode-select {
        display: flex;
        align-items: center;

        @include ag-theme-rtl(( margin-left: var(--ag-widget-container-horizontal-padding) ));
    }

    @include ag-keyboard-focus((ag-column-select-header), 4px);
    
    .ag-column-select-header {
        height: var(--ag-header-height);
        align-items: center;
        padding: 0 var(--ag-widget-container-horizontal-padding);

        border-bottom: var(--ag-borders-secondary);
    }
    
    .ag-column-panel-column-select {
        border-bottom: var(--ag-borders-secondary);
        border-top: var(--ag-borders-secondary);
    }

    .ag-column-group-icons,
    .ag-column-select-header-icon {
        color: var(--ag-secondary-foreground-color);
    }

    .ag-column-select-list {
        @include ag-list-item-hovered()
    }
}